@tailwind base;
@tailwind components;
@tailwind utilities;

.columnHover {
  transition: all 1s ease-out;
}
.columnHover:hover {
  scale: 1.15;
  rotate: 90deg;
}

.profile-image {
  background-image: url("../../image/Porfolio\ Image.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s ease-out;
}

.profile-image:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  transform: scale(1.5);
  border: 3px solid white;
}
/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
